.project-tile-container {
  border-radius: 30px;
  box-sizing: border-box;
  height: 220px;
  min-width: 152px;
  padding: 16px 0;
  width: 152px;
  align-items: center;
  /* background: rgba(246, 248, 249, 0); */
  display: flex;
  flex-flow: column;
  position: relative;
  transition-duration: 0.4s;
  cursor: pointer;
}
.project-tile-icon-1 {
  background: lightblue;
}
.project-tile-icon-2 {
  background: yellowgreen;
}
.project-tile-icon-3 {
  background: red;
}
.project-tile-icon-4 {
  background: salmon;
}
.project-tile-icon-5 {
  background: seagreen;
}
.project-tile-icon-6 {
  background: darkcyan;
}
.project-tile-icon-7 {
  background: slateblue;
}
.project-tile-icon-8 {
  background: skyblue;
}
.project-tile-icon-9 {
  background: lightgoldenrodyellow;
}
.project-tile-icon-10 {
  background: lawngreen;
}
.project-tile-icon-11 {
  background: lightblue;
}
.project-tile-icon-12 {
  background: yellowgreen;
}
.project-tile-icon-13 {
  background: red;
}
.project-tile-icon-14 {
  background: salmon;
}
.project-tile-icon-15 {
  background: seagreen;
}
.project-tile-icon-16 {
  background: darkcyan;
}
.project-tile-icon-17 {
  background: slateblue;
}
.project-tile-icon-18 {
  background: skyblue;
}
.project-tile-icon-19 {
  background: lightgoldenrodyellow;
}
.project-tile-icon-20 {
  background: lawngreen;
}
.project-tile-container:hover {
  padding: 0px 0px;
}

.project-tile-box {
  height: 100px;
  width: 100px;
}

.project-tile--link {
  text-decoration: none;
}

.project-tile--link:visited {
  color: inherit;
}

.project-tile-icon {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.05);
  align-items: center;

  display: flex;
  fill: #fff;
  flex-direction: column;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.new-project-tile-icon-container {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  border: dashed #cbd4db;
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-tile-container:hover .new-project-tile-icon-container {
  border: dashed #91979c;
}

.new-project-tile-icon {
  font-size: 40px;
  color: #cbd4db;
}

.project-tile-container:hover .new-project-tile-icon {
  color: #91979c;
}

.project-tile-name {
  padding-top: 10px;
  color: black;
  font-size: 15px;
}

.project-container {
  display: flex;
  padding: 15px;
  /* height: 100%; */
  width: 100%;
}
