.tasks-container {
  /* background-color: #f6f8f9; */
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.tasks-inner-container {
  background-color: white;
  min-width: 405px;
  max-width: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 2px solid #e8ecee;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);
}
.tasks-container-header {
  margin-left: 15px;
  margin-bottom: 10px;
}

.add-task-button {
  background: #14aaf5;
  border: none;
  border-radius: 3px;
  height: 25px;
  color: white;
  outline: none;
  cursor: pointer;
}

.task-home-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8ecee;
  font-size: 13px;
  height: 40px;
  padding: 0px 5px;
  cursor: pointer;
  align-items: center;
}
.task-home-item:hover {
  background-color: rgba(133, 140, 155, 0.08);
}

.task-project-item {
  background: white;
  /* padding: 10px; */

  padding: 6px 8px 2px;
  font-size: 13px;
  /* margin: 10px 0; */
  margin-bottom: 8px;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  /* height: 100px; */
  transition: 0.2s;
}
.task-project-item:hover {
  background: #e8ecee;
}

.task-section > div {
  -webkit-user-select: none;
}
.task-section-header {
  display: flex;
  border-top: 1px solid #e8ecee;
}

.task-section-list {
}

.open-arrow-collapse {
  align-self: center;
  padding: 0 5px;
  cursor: pointer;
}
.open-arrow-collapse:hover {
  color: blue;
}
.open-arrow {
  align-self: center;
  padding: 0 5px;
  transform: rotate(90deg);
  cursor: pointer;
}
.open-arrow:hover {
  color: blue;
}

.task-section-title {
  margin: 5px 0;
}
